@import "tailwindcss";

@theme {
  /* This sets the global default for the 'border' class */
  --color-border: #9d8a7c; /*var(--color-gray-200); */
  --color-primary: #2d1e17;
  --color-leading: #523f31;
  --color-secondary: #cc5500;
  --color-neutral: #f5f5f4;

  --default-font-family: Montserrat, "sans-serif";

  /* Or use a specific hex/rgb value */
  /* --color-border: #e5e7eb; */
}

.grid-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-image: linear-gradient(
      to right,
      rgba(167, 138, 124, 0.08) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(167, 138, 124, 0.08) 1px, transparent 1px);
  background-size: 15px 15px;
}

.section-background {
  background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%2354463f' fill-opacity='0.16' fill-rule='evenodd'/%3E%3C/svg%3E");
}
